<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Przykład Tymeleaf</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div style="background: #90a5cc; padding: 20px;">
    <h1>Schronisko we Wrocławiu</h1>
</div>

<a href="/dodajZwierzaka">Dodaj kolejnego zwierzaka</a>

<!-- komentarz -->

<h2>Zwierzaki szukające domu</h2>

<a href="http://javastart.pl">SUPER STRONA</a>

<p th:each="animal: ${animalList}">
    <a th:href="${'/zwierzak?id=' + animal.id}" th:text="${animal.name}" />
</p>

</body>

</html>